* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', system-ui, sans-serif;
}
body {
    background-color: rgb(255, 215, 238);
}
.mlk-nav {
    padding: 15px;
    display: flex;
    background-color: rgb(255, 215, 238);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.mlk-nav-left {
    display: flex;
    gap: 20px;
    vertical-align: middle;
    align-items: center;
}
.mlk-nav-left-textlink-container {
    margin: 0;
    padding: 0;
}
.mlk-nav-left-textlink-wrapper {
    padding: 0;
    gap: 10px;
    list-style: none;
    display: flex;
}
.mlk-nav-left-textlink {
    color: black;
    text-decoration: none;
}
.mlk-logo {
    font-family: 'Oswald', 'Inter Tight', system-ui, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.mlk-hero {
    padding: 20px;
    width: 100%;
    display: flex;
    height: 300px;
    align-items: center;
    background: url("/assets/R.jpg") no-repeat rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: left center;
}
.mlk-hero-h-large {
    font-size: 175px;
    line-height: 1em;
    font-family: 'Oswald', 'Inter Tight', system-ui, sans-serif;
    font-weight: 500;
    color: #fff;
    margin: 0;
    width: fit-content;
    position: absolute;
    top: 0;
    z-index: 0;
}
.mlk-short-bio {
    width: 100%;
    padding: 40px;
    background: #fff;
}
.mlk-short-bio-text {
    text-align: center;
    width: 1fr;
    line-height: 1.5em;
}
.mlk-text-bold {
    font-weight: 600;
}
.mlk-speech-quote {
    width: 100%;
    padding: 40px;
    background: #000;
}
.mlk-speech-quote-text {
    color: white;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-size: 40px;
}
.mlk-speech-quote-name {
    color: #e7e7e7;
    font-style: italic;
    font-size: 14px;
    font-family: 'Oswald', 'Inter Tight', system-ui, sans-serif;
}
.mlk-speech-quote-container {
    display: flex;
    gap: 5px;
    width: 100%;
}
.mlk-speech-quote-icon {
    width: 50px;
}
.mlk-cta {
    width: 100%;
    padding: 40px;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mlk-cta-heading {
    font-size: 30px;
    font-family: 'Oswald';
    letter-spacing: -0.025em;
    font-weight: 600px;
}
.mlk-button {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 10px 15px 10px 15px;
    display: block;
    width: fit-content;
    border-radius: 100px;
    margin: 0 auto 0 auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    transition: color 0.25s, background 0.25s;
}
.mlk-button:hover {
    background: #fff;
    color: #000;
    transition: color 0.25s, background 0.25s;
}
.mlk-footer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mlk-footer-top, .mlk-footer-bottom {
    width: 100%;
    display: flex;
}
.mlk-footer-top-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}
.mlk-footer-top-menu a {
    text-decoration: none;
    color: #000;
    width: fit-content;
}
.mlk-about-hero {
    background: url("/assets/bckgrndImage.jpg") no-repeat rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: left center;
    padding: 40px;
}
.mlk-about-hero h1 {
    font-size: 150px;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.80)
}
.mlk-main-biography {
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 10px;
    background: #fff;
}
.mlk-main-biography-facts {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
}
.mlk-main-biography-article {
    width: 75%;
    padding: 0 0 0 50px;
}
.mlk-main-biography-facts-table-item-left {
    width: 50%;
    text-align: left;
    font-weight: 600;
}
.mlk-main-biography-facts-table-item-right {
    width: 50%;
    text-align: right;
}
.mlk-main-biography-facts h2 {
    font-size: 25px;
    font-family: 'Oswald';
    font-weight: 500;
    margin: 0;
}
.mlk-main-biography-facts-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mlk-main-biography-facts-table-item {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 5px 0 5px 0;
}
.mlk-main-biography-facts-img {
    width: 25px;
    height: 25px;
}
.mlk-main-biography-facts-header {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.mlk-main-biography-article h1 {
    margin: 20px 0 7px 0;
    font-size: 30px;
}
.mlk-main-biography-article h2 {
    margin: 20px 0 7px 0;
}
.mlk-main-biography-article p {
    line-height: 1.4em;
}
#birthplace-iframe {
    border-radius: 20px;
    width: 100%;
}
#map-btn {
    font-weight: 600;
    color: #db000f;
    display: inline-flex;
    align-items: middle;
    gap: 5px;
    width: 100%;
}
.w {
    color: black;
}
.wbgr {
    background: #fff;
}

.none {
    display: none;
}